@import './variables';
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

*{
   font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.cover{
    width: 100%;
    background: $light-gray;
    min-height: 100vh;
    padding: .1px;

    section.cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin: 2rem auto;
        width: Min(80%, 19rem);
        border-radius: .4rem;
        overflow: hidden;
        padding: 0;

        .card{
            width: 100%;
            height: Max(24rem, fit-content);
            display: flex;
            justify-content: center;
            
            .card_wrapper{
                width: 80%;
                padding: .8rem;

                figure{
                    margin-top: 2rem;
                }

                header{
                    margin-top: 1.5rem;
                    font-size: 2.5rem;
                    line-height: calc(2.5rem + .5rem);
                    font-weight: 700;
                    color: $light-gray;
                    font-family: 'Big Shoulders Display' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                p{
                    margin-top: 1.5rem;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: calc(1rem + .5rem);
                    color: $white-75;
                }

                .btn{
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;

                    button{
                        display: block;
                        width: 60%;
                        padding: .8rem .9rem;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        background: #ffffff;
                        font-weight: 700;
                        transition: .2s linear all;
                        border: 2px solid #ffffff;

                        &:hover,&:active{
                            background: none;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: $desktop){
    main.cover{
        display: flex;
        justify-content: center;
        align-items: center;

       section.cards{
           width: fit-content;
           grid-template-columns: repeat(3, auto);

           .card{
               height: 32rem;
               margin: 0;
               width: 20rem;
               padding: 1rem;

               .card_wrapper{
                   width: 80%;

                   .btn{
                       margin: 0;
                       transform: translateY(6rem);
                   }
               }
           }
       }
    }
}