@import './variables';

.cover{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem 1rem;

.card{
    height: fit-content;
    width: Min(17rem, 100%);
    // margin: 10rem auto;
    background: $dark-blue;
    border-radius: .7rem;
    overflow: hidden;
    .wrapper{
    }

    .image{
        width: 100%;
        height: 12rem;
        background-color: rgba($color: $accent, $alpha: .8);
        background-image: url(../../images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply ;
        position: relative;
        &::after{
            content: '';
            background: rgba($color: $accent, $alpha: .3);
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .content{
        .content-wrapper{
        }
        .header{
            font-size: 1.5rem;
            line-height: calc(1.5rem + .5rem);
            font-weight: 700;
            color: #ffffff;
            padding: 1rem;
            margin-top: .65rem;
            text-align: center;
            span{
                color: $accent;
            }
        }

        .text{
            color: $white-70;
            margin-top: .3rem;
            padding: .1rem 1rem;
            font-size: .85rem;
            font-weight: 400;
            line-height: calc(.9rem + .5rem);
            text-align: center;
        }

        .stats{
            color: $white;
            display: grid;
            // background: green;
            width: 90%;
            margin-top: .6rem;
            margin-bottom: 1.8rem;
            .stat{
                // background: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: .8rem;

            .stat-heading{
                font-size: 1.4rem;
                line-height: calc(1.4rem + .5rem);
                font-weight: 700;
                letter-spacing: .55px;
                // text-transform: uppercase;
                // font-family: 'Lexend Deca';
            }

            .stat-data{
                color: $white-60;
                font-weight: 400;
                font-size: 12px;
                line-height: calc(12px + .5rem);
                letter-spacing: .55px;
                text-transform: uppercase;
                margin-top: .2rem; 
                font-family: 'Lexend Deca';
            }
            }
        }
    }
}
}



@media (min-width: $mobile) {
    .cover{
        .card{
            // width: Min(100%, 28rem);
            overflow: hidden;
            .wrapper{
    
                .image{
                }
    
                .content{
                    .content-wrapper{
                    }
    
                    .header{
                    }
    
                    .text{
                    }
    
                    .stats{
                        
    
                        .stat{
                            .stat-heading{
                            }

                            .stat-data{
                            }
                        }
                    }
                }
            }
        }
    }
    }




@media (min-width: $desktop) {
.cover{
    .card{
        width: 80%;
        height: 450.44px ; // 65%;
        overflow: hidden;
        border-radius: none;

        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            height: 100%;

            .image{
                height: 100%;
                grid-column: 2 / 3;
                padding: 0;
                margin: 0;
                grid-row: 1 / end;
                
            }

            .content{
                grid-column: 1 / 2;
                grid-row: 1 / end;
                .content-wrapper{
                    width: 75%;
                    margin: 0 auto;
                    margin-top: 5rem;
                    height: auto;
                }

                .header{
                    font-size: 2.5rem;
                    line-height: calc(2.5rem + .5rem);
                    text-align: initial;
                    padding: 0;
                }

                .text{
                    color: $white-60;
                    margin-top: 1.5rem;
                    padding: 0 2rem 0 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: calc(1rem + .5rem);
                    text-align: initial;
                }

                .stats{
                    margin-top: 4rem;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 1rem 0 0;
                    grid-gap: 3rem;


                    .stat{
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}
}