@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body{
    font-size: 13px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {

}
